<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Theater2025 ::: Адмін</title>
</head>
<body>

<!-- Pop-up (спочатку прихований) -->
<div id="authModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Увійдіть або зареєструйтесь</h2>
        <p>Щоб продовжити, будь ласка, авторизуйтесь.</p>
        <button onclick="window.location='redirect:/login'">Увійти</button>
        <button onclick="window.location='redirect:/login/register'">Реєстрація</button>
    </div>
</div>

<script src="/js/auth-popup.js"></script>

<div class="wrapper_admin">
    <div class="user_data_block_admin">
        <div class="userStatus" th:text="${userStatus}"></div>
        <div class="email" th:text="${email}"></div>
        <form action="#" th:method="get" th:action="@{'/user'}">
            <button type="submit" class="logout_button">USER</button>
        </form>
        <form action="#" th:method="post" th:action="@{'/login/logout'}">
            <button type="submit" class="logout_button">Вийти</button>
        </form>
    </div>
    <header>
    </header>

    <!--ADD MOVIE FORM SECTION-->
    <div class="add_movie_form_container">
        <form action="#" th:action="@{/admin}" th:method="post" enctype="multipart/form-data">
            <div class="add_movie_form_level">
                <label for="movie_input">Назва</label><span style="color: red;">*</span>
                <input id="movie_input" name="name" type="text" placeholder="Еммануель"
                       required>
            </div>
            <div class="add_movie_form_level">
                <label for="imdb_index" id="imdbIndex">IMDB</label>
                <input id="imdb_index" name="imdb_index" placeholder="tt0000000" size="9">
            </div>
            <div class="add_movie_form_level">
                <label for="movie_genre_input">Жанр</label>
                <select class="select_button" id="movie_genre_input" name="genre">
                    <option th:each="genre : ${genreArray}" th:value="${genre}"
                            th:text="${genre.str}"></option>
                </select>
            </div>
            <div class="add_movie_form_level">
                <label for="premiere_start_input" id="premiere_start">Прем'єра</label>
                <input id="premiere_start_input" name="premiereStart" th:value="${today}"
                       th:min="${today}" type="date" placeholder="ДД-ММ-РРРР" required>
            </div>
            <div class="add_movie_form_level">
                <label for="show_end_input" id="show_end">Кінець</label><span style="color: red;">*</span>
                <input id="show_end_input" name="showEnd" th:min="${today}" type="date" placeholder="ДД-ММ-РРРР"
                       required>
            </div>
            <div class="add_movie_form_level">
                <label for="hall_names_input">Кінозал</label>
                <select class="select_button" id="hall_names_input" name="hall">
                    <option th:each="hall : ${hallsNamesList}" th:value="${hall}"
                            th:text="${hall}"></option>
                </select>
            </div>
            <div class="add_movie_form_level">
                <label for="timeslot_input">1 сеанс</label><span style="color: red;">*</span>
                <input id="timeslot_input" name="timeSlot" type="time"
                       required value = "09:00" th:min="'09:00'" th:max="'23:00'">
            </div>
            <div class="add_movie_form_level">
                <label for="timeslot_input2">2 сеанс</label>
                <input id="timeslot_input2" name="timeSlot2" type="time" th:min="'09:00'" th:max="'23:00'">
            </div>
            <div class="add_movie_form_level">
                <label for="timeslot_input3">3 сеанс</label>
                <input id="timeslot_input3" name="timeSlot3" type="time" th:min="'09:00'" th:max="'23:00'">
            </div>
            <div class="add_movie_form_level">
                <label for="movie_poster">Постер</label>
                <input type="file" id="movie_poster" name="posterImg">
            </div>
            <div class="add_movie_form_level">
                <input type="submit" value="Додати" class="button">
            </div>
        </form>

    </div>

    <!--TICKETS LISTING SECTION-->

    <div class="tickets_header">Квиточки</div>
    <table class="tickets_table" th:unless="${ticketList.isEmpty}">

        <thead>
        <tr class="tickets_table_legend">
            <th>№</th>
            <th>Фільм</th>
            <th>Власник</th>
            <th>Дата</th>
            <th>Сеанс</th>
            <th>Вартість</th>
            <th>Статус</th>
            <th>Кінозал</th>
            <th>Ряд</th>
            <th>Місце</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${ticketList}">
            <td class="ticket_unit" th:text="${ticket.id}"></td>
            <td class="ticket_unit" th:text="${ticket.movie.name}"></td>
            <td class="ticket_unit" th:text="${ticket.user.name}"></td>
            <td class="ticket_unit" th:text="${#temporals.format(ticket.scheduledOn, 'dd-MM-yyyy')}"></td>
            <td class="ticket_unit" th:text="${ticket.movie.schedule.timeSlot}"></td>
            <td class="ticket_unit" th:text="'₴'+${ticket.value}"></td>
            <td class="ticket_unit" th:text="${ticket.ticketStatus.str}"></td>
            <td class="ticket_unit" th:text="${ticket.hall.name}"></td>
            <td class="ticket_unit" th:text="${ticket.roww}"></td>
            <td class="ticket_unit" th:text="${ticket.seat}"></td>

            <!-- <td class="buttons_ticket_unit">
                <form action="#" th:action="@{'/tickets/'+${ticket.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_ticketlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_ticket_unit">
                <a href="edit.html" th:href="@{'/edit/'+${ticket.id}+'/ticket'}">
                    <img class="edit_ico_ticketlist_in_tickets"
                         th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            -->
        </tr>

        </tbody>
    </table>

    <br>

    <!--MOVIES LISTING SECTION-->

    <div class="movies_header">Картини</div>
    <table class="movies_table" th:unless="${movieList.isEmpty}">

        <thead>
        <tr class="movies_table_legend">
            <th>№</th>
            <th>Назва</th>
            <th>Жанр</th>
            <th>IMDB</th>
            <th>Прем'єра</th>
            <th>Кінець прокату</th>
            <th>Час сеансу</th>
            <th>Кінозал</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movieList}">
            <td class="movie_unit" th:text="${movie.id}"></td>
            <td class="movie_unit" th:text="${movie.name}"></td>
            <td class="movie_unit" th:text="${movie.genre.str}"></td>
            <td class="movie_unit">
                <a th:href="@{'https://www.imdb.com/title/' + ${movie.imdbIndex}}"
                   th:text="${movie.imdbIndex}" target="_blank"></a>
            </td>
            <td class="movie_unit" th:text="${movie.premiereStart}"></td>
            <td class="movie_unit" th:text="${movie.showEnd}"></td>
            <td class="movie_unit" th:text="${movie.schedule.timeSlot}"></td>
            <td class="movie_unit" th:text="${movie.hall.name}"></td>

            <!-- <td class="buttons_ticket_unit">
                <form action="#" th:action="@{'/tickets/'+${ticket.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_ticketlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_ticket_unit">
                <a href="edit.html" th:href="@{'/edit/'+${ticket.id}+'/ticket'}">
                    <img class="edit_ico_ticketlist_in_tickets"
                         th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            -->
        </tr>

        </tbody>
    </table>


    <br>


    <!--USERS LISTING SECTION-->

    <div class="users_header">Користувачі</div>
    <table class="users_table" th:unless="${movieList.isEmpty}">

        <thead>
        <tr class="users_table_legend">
            <th>№</th>
            <th>Ім'я</th>
            <th>Імейл</th>
            <th>Доступ</th>
            <th>Реєстрація</th>
            <th>Оновлено</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${userList}">
            <td class="user_unit" th:text="${user.id}"></td>
            <td class="user_unit" th:text="${user.name}"></td>
            <td class="user_unit" th:text="${user.email}"></td>
            <td class="user_unit" th:text="${user.accessLevel}"></td>
            <td class="user_unit" th:text="${user.registerDate}"></td>
            <td class="user_unit" th:if="${user.updateDate != 'NULL'}" th:text="${user.updateDate}"></td>

            <!-- <td class="buttons_ticket_unit">
                <form action="#" th:action="@{'/tickets/'+${ticket.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_ticketlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_ticket_unit">
                <a href="edit.html" th:href="@{'/edit/'+${ticket.id}+'/ticket'}">
                    <img class="edit_ico_ticketlist_in_tickets"
                         th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            -->
        </tr>

        </tbody>
    </table>

    <br>

    <!--HALLS LISTING SECTION-->

    <div class="users_header">Зали</div>
    <table class="users_table" th:unless="${hallList.isEmpty}">

        <thead>
        <tr class="users_table_legend">
            <th>№</th>
            <th>Назва</th>
            <th>Рядів</th>
            <th>Місць</th>
            <th>Ємність</th>
            <th>Вільних місць</th>
            <th>Продано</th>
            <th>Ціна місця</th>
            <th>Сума</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hall : ${hallList}">
            <td class="user_unit" th:text="${hall.id}"></td>
            <td class="user_unit" th:text="${hall.name}"></td>
            <td class="user_unit" th:text="${hall.rowz}"></td>
            <td class="user_unit" th:text="${hall.seats}"></td>
            <td class="user_unit" th:text="${hall.seats * hall.rowz}"></td>
            <td class="user_unit" th:text="${hall.seats * hall.rowz - hall.getTicketListSize()}"></td>
            <td class="user_unit" th:text="${hall.getTicketListSize()}"></td>
            <td class="user_unit" th:text="${hall.seatPrice}"></td>
            <td class="user_unit" th:text="${hall.seatPrice * hall.getTicketListSize()}"></td>

            <!-- <td class="buttons_ticket_unit">
                <form action="#" th:action="@{'/tickets/'+${ticket.id}}" th:method="delete">
                    <button type="submit" class="delete_ico_ticketlist">
                        <img th:src="@{/img/delete-button.png}" th:title="Видалити"/>
                    </button>
                </form>
            </td>
            <td class="buttons_ticket_unit">
                <a href="edit.html" th:href="@{'/edit/'+${ticket.id}+'/ticket'}">
                    <img class="edit_ico_ticketlist_in_tickets"
                         th:src="@{/img/edit-button.png}" th:title="Редагувати"/>
                </a>
            </td>
            -->
        </tr>

        </tbody>
    </table>


</div>
</body>
</html>
