<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Theater2025 ::: Помилка</title>
</head>

<body>

<!-- Pop-up (спочатку прихований) -->
<div id="authModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Увійдіть або зареєструйтесь</h2>
        <p>Щоб продовжити, будь ласка, авторизуйтесь.</p>
        <button onclick="window.location='/login'">Увійти</button>
        <button onclick="window.location='/login/register'">Реєстрація</button>
    </div>
</div>

<script src="/js/auth-popup.js"></script>

secured endpoint
</body>
</html>