<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" content="application/json">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">


    <title>Theater2025 ::: Панель користувача</title>
</head>
<body>
<div class="wrapper">
    <div class="user_data_block">
        <div class="userStatus" th:text="${userStatus}"></div>
        <div class="email" th:text="${email}"></div>
        <form action="#" th:method="get" th:if="${userStatus == 'Адмін'} or ${userStatus == 'Менеджер'}"
              th:action="@{'/admin'}">
            <button type="submit" class="logout_button">Адмін</button>
        </form>
        <form action="#" th:method="post" th:action="@{'/login/logout'}">
            <button type="submit" class="logout_button">Вийти</button>
        </form>
    </div>

    <header>Вибір кіно</header>
    <br>

    <div class="movies_container">
        <div class="movie_slot" th:each="movie : ${moviesList}">
            <div class="movie_img">
                <img th:src="${movie.imgUrl}" alt="Постер фільму"/>
            </div>
            <div class="movie_name" th:text="${movie.name}"></div>
            <div class="movie_genre" th:text="${movie.genre.str}"></div>
            <div class="movie_unit"
                 th:text="'Кінець прокату: '+ ${#temporals.format(movie.showEnd, 'dd-MM-yyyy')}"></div>
            <div class="movie_unit">Сеанси:
                <div class="movie_timeslot">
                    <a th:href="@{'/user/buy/' + ${movie.hall.id} + '/' + ${movie.id} + '/' + ${movie.schedule.timeSlot}}"
                       th:text="${movie.schedule.timeSlot}"></a>
                </div>
                <div class="movie_timeslot" th:if = "${movie.schedule.timeSlot2 != null}">
                    <a th:href="@{'/user/buy/' + ${movie.hall.id} + '/' + ${movie.id}  + '/' + ${movie.schedule.timeSlot2}}"
                       th:text="${movie.schedule.timeSlot2}"></a>
                </div>
                <div class="movie_timeslot" th:if = "${movie.schedule.timeSlot3 != null}">
                    <a th:href="@{'/user/buy/' + ${movie.hall.id} + '/' + ${movie.id}  + '/' + ${movie.schedule.timeSlot3}}"
                       th:text="${movie.schedule.timeSlot3}"></a>
                </div>
            </div>
            <div class="movie_unit" th:text="'Кінозал: '+ ${movie.hall.name}"></div>
        </div>
    </div>


    <script th:inline="javascript">
        window.rows = [[${rows}]];
        window.seats = [[${seats}]];
        window.hall = [[${hall}]];
        window.soldMapList = [[${soldSeatMapList}]];
        window.movieId = [[${movieId}]];
        window.selected_timeslot = [[${selected_timeslot}]];
    </script>

    <table id="seatsTable" border="0"></table>
    <script src="/js/renderSeats.js"></script>

    <!-- ISSUED TICKET DETAILS            -->

    <div class="issuedTicketPanel" th:if="${showIssuedTicket}">
        <table>
            <tr>
                <td class="ticket_field" th:text="${ticket.movie.name}"></td>
            </tr>
            <tr>
                <td class="ticket_field" th:text="'Зал: ' + ${ticket.hall.name}"></td>
            </tr>
            <tr>
                <td class="ticket_field" th:text="'Ціна: ' + ${ticket.value} + ' ₴'"></td>
            </tr>
            <tr>
                <td class="ticket_field" th:text="'Ряд: ' + ${ticket.roww}"></td>
            </tr>
            <tr>
                <td class="ticket_field" th:text="'Місце: ' + ${ticket.seat}"></td>
            </tr>
            <tr>
                <td class="ticket_field"
                    th:text="${#temporals.format(ticket.scheduledOn, 'dd-MM-yyyy')}"></td>
            </tr>
            <tr>
                <td class="ticket_field" th:text="'Сеанс: ' + ${selected_timeslot}"></td>
            </tr>
        </table>


    </div>
</div>
</body>
</html>